<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Foro Online</h5>
          <p>Un lugar para compartir conocimientos y participar en debates sobre tus temas favoritos.</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/" class="text-white">Inicio</a></li>
            <li><a routerLink="/categorias" class="text-white">Categorías</a></li>
            <li><a routerLink="/registro" class="text-white">Registrarse</a></li>
            <li><a routerLink="/login" class="text-white">Iniciar Sesión</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-envelope-fill"></i> info@foroonline.com</li>
            <li><i class="bi bi-telephone-fill"></i> +56 9 1234 5678</li>
            <li><i class="bi bi-geo-alt-fill"></i> Santiago, Chile</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0">&copy; 2025 Foro Online. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>